/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  margin-top: 140px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}

h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

figure {
	margin: 0 auto;
  line-height: 0;
  position: relative;
  display: table;
}

figcaption {
  padding: 20px;
  line-height: 1.5;
  border: black solid .5rem;
  display: block;
  

}

h4 {

}

li {
  font-size: .95em;
  margin-bottom: 1.85em;
  list-style: none;
}

footer {
  font-size: 1em;
}

#title {
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: 2.4em;
}

#image {
  max-width: 100%;
  display: table-caption;
  caption-side: block;
}

.social-icon {
  color: black;
}
